<div class="container" style="width: 80%">
  <ul>
    <li class="thumbnail" style='background-color: rgba(128,0,128,0.3); border: transparent;'>
        <p class="about_page_header">Эти странные люди...</p>
        <p class="about_page_text">
          Иногда люди поступают довольно странно: случайно обраненное слово становится огнивом в соломенном доме,
          безобидная фраза вызывает неугомонную агрессию. Вчерашние друзья становятся врагами из-за простой шутки.
        </p>
    </li>
    <li class="thumbnail" style='background-color: rgba(128,0,128,0.3); border: transparent;'>
      <p class="about_page_header">И такие же странные действия...</p>
      <p class="about_page_text">
        Казалось бы в чем проблема: просто ненавидь человека и всё.
        Но потом будут случайные встречи. Возможно, человек, на которого ты обозлился, потом устроится на работу
        в твой офис. Вдруг этот человек окажется знакомым или родственником того, кто тебе нравится.
        Так много возможностей, и все они приводят к твоей неловкости, когда, например, ты приходишь на ужин к своей девушке,
        а ее отец - водитель автобуса, с которым ты поругался вчера из-за сдачи.
      </p>
    </li>
    <li class="thumbnail" style='background-color: rgba(128,0,128,0.3); border: transparent;'>
      <p class="about_page_header">Можно сделать иначе...</p>
      <p class="about_page_text">
        Что если попытаться отучить человека от черствости, от грубости? Простыми шагами прийти к ситуации, когда даже в мыслях
        не будет мата.
      </p>
    </li>
  </ul>
</div>
