<% provide(:title, "Log in") %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div id="loginBlock">
  <h1 style="position: relative">Log in</h1>

  <div class="row row-margin-0">
    <%= form_for(:session, url: login_path) do |f|%>
      <div class="col-lg-12 text-left">
        <%= f.label :email %>
      </div>
      <div class="col-lg-12">
        <%= f.email_field :email, class: 'field' %>
      </div>
      <div class="col-lg-12 text-left col-top-space">
        <%= f.label :password %>
      </div>
      <div class="col-lg-12">
        <%= f.password_field :password, class: 'field' %>
      </div>
      <div class="col-lg-12" style="margin-top: 25px;">
        <%= f.submit "Log in", class: "btn btn-primary btn-block btn-square" %>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span style="font-size: 12px;">Remember me on this computer</span>
        <% end %>
      </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p>New user? <%= link_to "Sign up now!", sign_up_path ,id: "link"%></p>
    </div>
    <% end %>
  </div>
</div>