<% provide(:title, 'Sign up') %>
<div id = "loginWindow">
	<%= render 'shared/error_messages', style: 'position: absolute' %>
  <div class="row row-margin-0">
		<%= form_for(@user) do |f| %>
        <div class="col-lg-3 text-left" style="margin-top: 25px;">
					<%= f.label :login %>
        </div>
        <div class="col-lg-9" style="margin-top: 25px;">
					<%= f.text_field(:login, class: 'field')%>
					<% if @user.errors.messages.include?(:login) %>				  
					    <%= @user.errors.messages[:login].first %>
					<% end %>
        </div>
        <div class="col-lg-3 text-left" style="margin-top: 25px;">
					<%= f.label :email %>	
        </div>
        <div class="col-lg-9" style="margin-top: 25px;">
					<%= f.email_field(:email, class: 'field') %>
					<% if @user.errors.messages.include?(:email) %>				  
					    <%= @user.errors.messages[:email].first %>
          <% end %>
        </div>
        <div class="col-lg-3 text-left" style="margin-top: 25px;">
					<%= f.label :password %>
        </div>
        <div class="col-lg-9" style="margin-top: 25px;">
					<%= f.password_field(:password, class: 'field')%>
					<% if @user.errors.messages.include?(:password) %>				  
					  <%= @user.errors.messages[:password].first %>
				  <% end %>
			  </div>
        <div class="col-lg-3 text-left" style="margin-top: 25px;">
					<%= f.label :password_confirmation, "Confirmation" %>
        </div>
        <div class="col-lg-9" style="margin-top: 25px;">
					<%= f.password_field(:password_confirmation, class: 'field')%>
					<% if @user.errors.messages.include?(:password_confirmation) %>				  
					    <%= @user.errors.messages[:password_confirmation].first %>
				    <% end %>
        </div>
        <div class="col-lg-12" style="margin-top: 25px;">
         <%= f.submit "Create account", class: "btn btn-primary btn-block btn-square" %>
       </div>
      </div>
		<% end %>	
</div>