<%= javascript_include_tag 'application.js'%>
<div class="container" style="width: 800px">
  <div class="row" style="height: 150px;">
    <img src="<%=image_path'Qk0P5PLItD8.jpg' %>" id="user_top_image">
  </div>
  <div class="row" style="margin-top: -100px;">
    <div class="thumbnail">
      <div class="col-lg-4 col-sm-4 col-md-2 col-xs-12 image-container">
        <img src="<%=image_path'lighter.gif' %>" class='img-circle pull-lg-left' id="user_big_avatar">
      </div>
    </div>
  </div>
  <div class="row" style="background-color: white; margin-top: -100px;  border: 2px solid gray;">
    <div class="col-sm-8 col-sm-offset-4" style="margin-top: -95px">
        <p class="user_name"><%=@userInfo.first_name %> <%=@userInfo.last_name %></p>
        <p class="user_name"><%=@userInfo.name %></p>
        <p class="user_message_world"><%=@userInfo.message_world %></p>
    </div>
  </div>
  <div class="row" style="border: 2px solid gray; border-top: 0px">
    <ul class="nav nav-tabs" style="background-color: rgb(220,220,220)">
      <li class="active">
        <a href="#">Личная информация</a>
      </li>
      <li><a href="#">Стена</a></li>
      <li><a href="#">Лента</a></li>
    </ul>
  </div>
  <div class="row" style="border: 2px solid gray; border-top: 0px;background-color: white">
    <div class="col-sm-3" style="border-right: 2px solid lightgray">
      Друзья
    </div>
    <div class="col-sm-9">ГОВНО</div>
  </div>
</div>