.about_page_header{
  font-size: 45px;
  line-height: 1.5;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
}
.about_page_text{
  font-family: "Times New Roman";
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
  text-align: justify;
  margin: 20px;
  font-size: 1.7vw;
}