@import "bootstrap-sprockets";
@import "bootstrap";

body{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -100;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0.5)), url(purple_gradient.gif);
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  width:100%;
}