// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginBlock {
	margin: auto;
	width: 300px;
	background-color: rgba(128, 128, 128, 0.4);
	border-style: solid;
  	border-width: thin;
  	border-color: rgba(128, 128, 128, 1);
}

[class*="col-"] + .col-top-space {
  margin-top: 15px;
}

.field {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: thin;
  border-color: rgba(128, 128, 128, 1);
}

.btn.btn-square {
  border-radius: 0;
}

.btn.btn-center{
  margin-left: auto;
  margin-right: auto;
}

.row.row-margin-0{
  margin-left:0;
  margin-right:0;
}

#link {
  text-decoration: none;
  font-size: 11px;
  background: transparent;
  color: #f0f0f0;
}
#link:hover{
  color: lightgray;
}