// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* sidebar */

/* forms */

@import "bootstrap-sprockets";
@import "bootstrap";


#homeLink {
    text-align: left;
    text-decoration: none;
	font-size: 30px;
	background: transparent; 
	color: gray;
} 
#homeLink:hover{
	color: lightgray;
}

.textField{
	margin-left: auto;
	margin-right: auto;	
	width: 300px;
	height: 70px;
	opacity: 0.8;
}

.field {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: thin;
  border-color: rgba(128, 128, 128, 1);
}

#loginWindow {
  margin: auto;
  width: 500px;
  background-color: rgba(128, 128, 128, 0.4);
  border-style: solid;
  border-width: thin;
  border-color: rgba(128, 128, 128, 1);
}

#writeField{
	margin-left: auto;
	margin-right: auto;	
	width: 300px;
	height: 50px;
	opacity: 0.8;
}

#loginCell{;
	height: 30px;
	border: 0px;
}

.writeFont{
	width: 300px;
	height: 50px;
	border: 0px;	
	font-size: 20px;
	text-align:center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.user_name{
  font-size: 20px;
  color: black;
}
.user_message_world{
  font-size: 13px;
  color: black;
}
#user_top_image{
  width: 800px;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid gray
}
#user_big_avatar{
  width: 200px;
  height: 200px;
  border:2px outset white;
  margin-left: 25px
}