<!DOCTYPE html>
<html xmlns:style="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application.js'%>
  </head>
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigator">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Будь добрее", '#', id: "homeLink" %>
        <%= link_to "Что это?", {:controller => 'static_pages', :action => 'about'} %>
      </div>
      <div class="collapse navbar-collapse" id="navigator">
        <ul class="nav navbar-nav navbar-right">
          <% if is_logged_in %>
            <li><%= link_to "Профиль", current_user %></li>
            <li><%= link_to "Выйти", logout_path %></li>
          <% else %>
            <li><%= link_to "Войти", login_path %></li>
          <% end %>
          <li><%= link_to "Помощь",   '#' %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 75px">
    <%= yield %>
  </div>
  </body>
</html>